

body{
    font-family: 'Noto Sans', sans-serif;
}
.creative{
    color: midnightblue
}

.left{
    display: inline-block;
    padding: 30px;
    
}

.right{
    
    display: inline-block;
    padding: 30px;
    
}
footer{
   
    clear: both;
    display: inline-block;
    color: midnightblue;
}
.tile-image{
    height: 250px;
    width: 300px;
    float: left;
    padding: 30px;
}
@media (max-width: 600px){
    .logo{
        width: 100px;
    }
    h1{
        font-size: 3.5rem;
        text-align: center;
        
    }
}